<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>flash</icon>
		<category>admin</category>
	</module>
	<project>
		<entry name="langpackrepository">https://update.rbschange.fr</entry>
	</project>
	
	<!-- Add this to project.xml in 'config/project/modules' section for override config value
	<updater>
		<entry name="langpackrepository">http://update.rbschange.fr</entry>
	</updater>
	 -->
</config>